/.ipynb_checkpoints
/consum.docx
/Dati Energia
/DSlab.R
/DSLAB_Project Eric
/links.txt
/meteo
/meteo30-5-21short.csv
/milan_owm_2021-05-04-0829.csv
/Preprocessing.ipynb
/Report DSLab.pdf
/Ristorazione.xls
/Sarima(x)-prophet.ipynb
/Sarima(x).ipynb
/Sarima(x)2.ipynb
/Sarimax New.ipynb
/Sarimax(x)2.2.ipynb
/Scomposizione_new.ipynb
/Template DS Lab.docx
/U1_aggr.txt
/u1_new.csv
/u1_sett.csv
/U1_we_agg.txt
/U6_aggr.txt
/U6_scomposizione.ipynb